ADMIN_TOKEN=replace_with_a_long_random_token
# You can generate a token using the following command:
# openssl rand -hex 32
# Make sure to replace "replace_with_a_long_random_token" with the actual token you generated.